.formiga-input-group {
  margin-top: 1em;
  //padding: 0.5em;
  //border: 0.25px solid #e8e8e8;
  //border-right: 0.25px solid #e8e8e8;

  .formiga-input-group-top {

    display: flex;
    align-items: center;

    .formiga-input-group-label {
      flex: 50%;
      color: #414040;
      
      label {
        font-style: italic;
      }
    }

    .formiga-input-group-description {
      //color: #6e6161;
      //font-size: 12px;
      //font-style: italic;
      //text-align: right;
      padding: 0.5em 0;
      color: #6c6a6a;

      flex: 50%;
      text-align: right;
      
      &:before {
        content: "> ";
        color: #898989;
        font-weight: bold;
      }
    }
  }

  input, 
  textarea, 
  select {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    box-sizing: border-box;
  }

  input,
  textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input:focus,
  textarea:focus {
    border-color: #6572e9;
  }

  input.invalid,
  textarea.invalid,
  select.invalid {
    border-color: red;
  }
  .formiga-input-group-feedback {
    color: #f54141;
    font-style: italic;
    font-size: 0.9em;
  }

  input.valid > .formiga-input-group-feedback,
  textarea.valid > .formiga-input-group-feedback,
  select.valid > .formiga-input-group-feedback {
    display: none;
  }
  
}